/*video*/
#contents {}

.contents-wrap {
  width: 100%;
  max-width: 100%;
}

#header {
  background: #fff;
}

.top-gnb-02 {
  background: #fff;
}

.about-all-wrap {}

.embed-container iframe {
  z-index: -99;
  width: 100%;
}

.about-movie-wrap {
  position: fixed;

  z-index: 0;
  left: 86px;
  top: 60px;
}

.about-all-wrap .bg-wh {
  top: 80%;
  position: absolute;
  z-index: 1;
  background: #fff;
  width: calc(100% - 85px);
}

.about-all-wrap .bg-wh .view-more {
  position: absolute;
  top: -69px;
  z-index: 1;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 4px;
  font-size: 10px;
  font-family: notokr-light, 'Quicksand' !important;
}

.about-all-wrap .bg-wh .view-more p {
  color: #fff;
  font-size: 11px;
  margin-bottom: 15px;
}

.mouse {
  max-width: 2rem;
  width: 100%;
  height: 28px;
  -webkit-animation-name: scrollmouse;
  animation-name: scrollmouse;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.725, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.725, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.wheel {
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.725, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.725, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -20px;
  cursor: pointer;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
  }

  45% {
    opacity: 0;
    -webkit-transform: translateY(46px) scaleY(0.5);
    transform: translateY(46px) scaleY(0.5);
  }

  46% {
    opacity: 0;
    -webkit-transform: translateY(30px) scaleY(1);
    transform: translateY(30px) scaleY(1);
  }

  65%, 100% {
    -webkit-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
  }

  45% {
    opacity: 0;
    -webkit-transform: translateY(46px) scaleY(0.5);
    transform: translateY(46px) scaleY(0.5);
  }

  46% {
    opacity: 0;
    -webkit-transform: translateY(30px) scaleY(1);
    transform: translateY(30px) scaleY(1);
  }

  65%, 100% {
    -webkit-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes scrollmouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  45% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  65%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes scrollmouse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  45% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  65%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.about-all-wrap .cont-01 {
  text-align: center;
  padding-top: 100px;
}

.about-all-wrap h3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-all-wrap .cont-01 .sub-title {
  margin-bottom: 31px;
  line-height: 171%;
  font-size: 18px;
  font-family: notokr-light, 'Quicksand' !important;
}

.about-all-wrap .cont-01 i {
  display: block;
  margin-bottom: 20px;
  font-size: 19px;
}

.about-all-wrap .cont-01 .grid-3-img-wrap {
  width: 80%;
  margin: 0 auto;
}

.about-all-wrap .cont-01 .grid-3-img-wrap .list-w {
  width: 32%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  font-size: 0;
  margin-right: 0.7%;
}

.about-all-wrap .cont-01 .grid-3-img-wrap .list-w img {
  width: 100%;
  padding-bottom: 3%;
}

.about-all-wrap .cont-02 {
  overflow: hidden;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 150px;
  background: #f7f7f7;
  margin-top: 0px;
}

.about-all-wrap .cont-02 i {
  display: block;
  margin-bottom: 20px;
  font-size: 19px;
}

.about-all-wrap .cont-02 .cont-02-wrap {
  width: 65%;
  margin: 0 auto;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-r {

}

.about-all-wrap .cont-02 .cont-02-wrap .cont-r img {
  width: 100%;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-l {
  /* float: right; */
  /* width: 60%; */
  text-align: left;
  /* margin-left: 5%; */
  margin-top: 67px;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-l h4 {
  margin-top: 30px;
  line-height: 160%;
  font-size: 26px;
  /* line-height: 158%; */
  margin-bottom: 14px;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-l p {
  font-size: 13px;
  line-height: 160%;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-l .btn {
  background: #404040;
  width: 130px;
  text-align: center;
  line-height: 40px;
  margin-top: 37px;
  height: 40px;
}

.about-all-wrap .cont-02 .cont-02-wrap .cont-l .btn a {
  color: #fff;
  font-size: 10px;
  letter-spacing: 3px;
}

.cont-03 {
  background: url('/Unfold/images/brand-cont2-bg.jpg') center no-repeat;
  height: 700px;
  background-size: cover;
  position: relative;
}

.cont-03 .cont-wrap {
  height: 400px;
  width: 80%;
  background: #fff;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cont-03 .cont-wrap h3 {
  margin-top: 70px;
}

.cont-03 .cont-wrap p {
  width: 60%;
  margin: 0 auto;
  margin-top: 23px;
  line-height: 190%;
}

.cont-03 .cont-wrap h4 {
  line-height: 160%;
  font-size: 26px;
  margin-top: 11px;
}

.cont-04 {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

#map iframe {
  width: 100%;
  height: 316px;
}

.offical {
  padding-bottom: 100px;
  overflow: hidden;
}

.stockist-wrap {
  margin-top: 180px;
}

.offical {
  margin-bottom: 60px
}

.offical h2 {
  clear: both;
  color: #fff;
  padding: 10px 20px;
  background: #474747;
  font-size: 19px;
  font-weight: normal;
  width: 193px;
}

.offical p {
  font-size: 12px;
  line-height: 180%;
  margin-top: 20px;
}

#map {
  width: 62%;
  height: 316px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  margin-top: 30px;
  float: left;
}

.nmap {
  width: 100% !important;
}

#map-img {
  width: 67%;
  height: 316px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
/*  background: url('//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/unfold_design112/about-bg.jpg') no-repeat 0 0;*/
  background-position: center 0;
  background-size: cover;
  margin-top: 30px;
  float: right;
}

.offical .bar-short {
  padding-top: 15px;
  display: inline-block;
  border-top: 1px solid #dcdcdc;
}

.offical h3 {}

.offical .off-right {
  float: right;
  width: 35%;
  margin-top: 42px;
}
