
@charset "utf-8";

.on_off_select {
  display: none;
}

.offHeight {
  height: 0;
}

.offDisplay {
  display: none;
}

/* inveiw CSS  */
/* animation */
.inviewTrigger {
  opacity: 0;
  transition: opacity 1s, transform 0.5s;
}

.inviewTrigger.on {
  opacity: 1;
  transform: translate(0);
}

.inviewAniToUp {
  transform: translateY(50px);
}

.inviewAniToRight {
  transform: translateX(-50px);
}

.inviewAniToLeft {
  transform: translateX(50px);
}

.inviewTrigger.inviewAniTime01 {
  transition-delay: 0.1s;
}

.inviewTrigger.inviewAniTime02 {
  transition-delay: 0.3s;
}

.inviewTrigger.inviewAniTime03 {
  transition-delay: 0.5s;
}

.inviewTrigger.inviewAniTime04 {
  transition-delay: 0.7s;
}

/* inveiw CSS  */
/* Layout */
.simple-txt {
  margin: 0;
  margin-bottom: 8px;
}

.border-10 {
  width: 35px;
  border-bottom: 1px solid #272727;
  margin: 0 auto;
  margin-top: 100px;
}

.border-short {
  width: 35px;
  border-bottom: 4px solid #272727;
  margin: 0 auto;
  margin-bottom: 14px;
}


.border-light {
    width: 35px;
    border-bottom: 1px solid #272727;
    margin: 0 auto;
    margin-bottom: 16px;
}
.t-ico-s {
  font-size: 10px !important;
  padding-right: 6px;
}

.t-ico-l {
  font-size: 12px;
  color: #bdbdbd;
  vertical-align: text-bottom;
  display: inline-block;
  *display: inline;
  zoom: 1;
  transition: all 0.4s ease-out;
  padding-left: 8px;
}

.blank-h {
  height: 200px;
}

/*header*/
#header {
  background: rgba(255,255,255,1);
  z-index: 100;
  text-align: center;
  position: fixed;
  width:100% ;
  height: 73px;
  border-bottom: 1px solid #f5f5f5;
  min-width: 1066px;
  top: 0;
  transition: top .3s;
}

#header:hover {
  background: #fff;
  cursor: pointer;
}

#header .cs-menu-02 {
  transition: transform 0.4s ease-out;
}

#header .social-menu {
  transition: transform 0.4s ease-out;
}


.top-gnb-02 {
  position: relative;
  font-size: 0;
  height: 73px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  /* line-height: 73px; */
}
.top-gnb-02 h1{
  /* font-size: 35px;
  font-weight:800; */
  /* margin-left: 20px; */
  /* float: left; */
  /* display: inline-block; */
  /* position: relative; */
  padding-left:10px;
  width: 15%;
  height: 100%;
}
.top-gnb-02 h1 a{
  position: relative;
  height: 100%;
  width:100%;
  display: block;
}
.top-gnb-02 h1 span {
  color: #3e3e3e;
  display: flex;
  align-items: center;
  height: 100%;
}
.top-gnb-02 h1 img{
  height: auto;
  width: 100%;
  position: relative;
  display: block;
}
.top-gnb-02>ul {
  /* min-width: 575px; */

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 1%;
}
.top-gnb-02>ul>li {
  /* cursor: pointer; */
  position: relative;
  /* display: inline-block; */
  /* margin: 0 39px; */
  margin: 0 3%;
}
.top-gnb-02>ul>li.shop-cate-menu>a{color:#da672d}
.top-gnb-02>ul>li .border-dot {
  border-bottom: 4px solid #da672d;
  top: 20px;
}

.border-dot {
  width: 4px;
  border-bottom: 4px solid #000;
  position: absolute;
  top: 2px;
  left: -5px;
  margin-left: -2px;
}
.top-gnb-02>ul>li>a {
  display: block;
  font-size: 15px;
  height: 72px;
  line-height: 72px;
  cursor: pointer;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: #4e4e4e;
}



.top-gnb-02 .shop-cate-menu:hover .border-dot {
  border-bottom: 4px solid #f00;
}

.top-gnb-02>ul>li.home {
  display: none;
}

.r-member-menu {
  /* font-size: 16px; */
  /* float: right;
  margin-right: 23px;
  margin-top: -3px; */
    display: flex;
    position: relative;
    width: 10%;
    padding-left: 0%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 45px;
}
.top-gnb-02 .r-member-menu>div {
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* padding-bottom: 16px; */
  position: relative;
  width: 100%;
  min-width: 38px;       padding-bottom: 10px;
    padding-top: 10px;
}

.r-member-menu a {
  display: inline-block;
  /* width: 100px; */
}

.r-member-menu .user-main {
  /* margin-right: 19px; */
}

.r-member-menu .cart-main {
  /* margin-right: 11px; */
}
.search-wrap {
  /* margin-right: 28px; */
}
.r-member-menu i {
  position: relative;
  color: #000;
  transition: all 1s;
}

.r-member-menu .cart-main img {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}

.r-member-menu .search-menu img {
  width: 15px;
  height: 15px;
}

.r-member-menu .user-main i {
  font-size: 15px;
  padding-bottom: 20px;
}

.r-member-menu .user-cart i {
  font-size: 16px;
}

.r-member-menu .search-main i {
  font-size: 15px;
}

.r-member-menu i:hover {
  color: #f00;
}

.r-member-menu .top-menu-box {
  text-align: center;
  width: 122px;
  background: #fff;
  font-size: 8px;
  padding: 4px 4px 2px 4px;
  line-height: 207%;
  left: 18px;
  display: none;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translate(-50%, 0%);    border:1px solid #dcdcdc;
}

.r-member-menu .top-menu-box a {
  padding-right: 0px;
  color: #000;
  display: block;
  font-size: 12px;
}

.r-member-menu .top-menu-box a:hover {
  color: #8c8c8c;
}

.r-member-menu .login-p {
  z-index: 1;
  font-size: 11px;
  padding: 15px 16px;
}

.r-member-menu .user-main:hover .login-p {
  display: block;
}

.r-member-menu .wish-main:hover .wish-p {
  display: block;
}

.r-member-menu .count {
  font-size: 11px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}

.r-member-menu .cart-cnt {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 13px;
  margin-left: 5px;
  font-family: sans-serif;
}

.r-member-menu .cart-cnt-01 {
  font-size: 13px;
}

.r-member-menu .cart-cnt-02 {
  font-size: 13px;
  color: #4b66ff;
  padding-left: 2px;
}

.moveTop .top-gnb-02 {
  width: calc(100% - 250px);
}

.moveTop .top-gnb-02>ul {
  transform: translateX(0);
  left: 0;
}

.moveTop .top-gnb-02>ul>li:first-child {
  margin-left: 30px;
}

.moveTop .top-gnb-02>ul>li {
  margin: 9px 22px 0;
}

.moveTop .top-gnb-02>ul>li.home {
  display: inline-block;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
  opacity: 1;
}





/* #lnb */

#lnb {
  height: 100%;
  position: fixed;
  left: 0;
  width: 85px;
  z-index: 100;
  border-right: 1px solid #dcdcdc;
  background: #fff;
}





.left-menu>div {
  margin-bottom: 25px;
  margin-left: 3px;
  position: relative;
}




.search-menu {}

.search-menu i {
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
}

.search-popup {
  display: none;
  position: fixed;
  background-color: white;
  height: 313px;
  /* margin-top: 15px; */
  /* right: 0; */
  transform: translateY(50px);
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 35px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.search-popup .close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
}

#searchBarForm {
  overflow: hidden;
}

/**/


/*quick*/
#quick-wrap {
  /* position: fixed;
  top: 0;
  right: -300px;
  width: 300px; */
  position: fixed;
  z-index: 9;
  height: 100%;
  right: 0;
  top: 0;
  transition: right 0.3s ease-in-out;
  z-index: 10000000;
}

#quick-wrap.active {
  right: 0;
}

#quick-wrap .quick-side-bar {
  position: fixed;
  bottom: 3%;
  right: 13px;
  z-index: 8;

  width: 55px;
  text-align: center;
  padding: 29px 0 29px 0;

  height: 147px;
}

#quick-wrap .quickButton {
  cursor: pointer;
  width: auto;
  background: none;
  font-weight: normal;
  width: 100%;
  display: block;
}

#quick-wrap .quick-icon {
  height: 30px;
  background: transparent no-repeat center;
  vertical-align: top;
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

#quick-wrap .quick-icon-00 {
  /*background-image: url("/Unfold/resource/icon-clock.png");*/
  color: #000;
  font-size: 17px;
}

#quick-wrap .quick-icon-01 {
  /* background-image: url("/Unfold/resource/icon-commenting.png"); */
  color: #000;
  font-size: 16px;
}

#quick-wrap .quick-content {
  position: absolute;
  display: none;
  bottom: 3%;
  right: -3px;
  min-height: 360px;
  max-height: 920px;
  overflow: hidden;
     border: 1px solid #d8d8d8;
  border-right: none;
  background: #fff url() 0 0 repeat-y;
  box-sizing: border-box;
}

#quick-wrap .quick-content.active {
  display: block;
}

#quick-wrap .quick-content.quick-content-00 {
  width: 320px;
  text-align: center;
}

#quick-wrap .quick-content.quick-content-01 {
  width: 320px;
}

#quick-wrap .quick-content .message {
  position: absolute;
  width: 100%;
  top: 50%;
}

#quick-wrap .quick-arrow-wrap {
  margin-top: 23px;
}

#quick-wrap .quick-arrow-wrap>span {
  display: block;
  overflow: hidden;
  -webkit-transition: max-height ease-in-out 0.4s;
  -moz-transition: max-height ease-in-out 0.4s;
  -ms-transition: max-height ease-in-out 0.4s;
  -o-transition: max-height ease-in-out 0.4s;
  transition: max-height ease-in-out 0.4s;
}

#quick-wrap .quick-arrow-wrap.top {}

#quick-wrap .quick-arrow-wrap.top .quick-arrow-top {
  max-height: 0;
}

#quick-wrap .quick-arrow-wrap.middle .quick-arrow-top {
  max-height: 35px;
}

#quick-wrap .quick-arrow-wrap.bottom .quick-arrow-top {
  max-height: 35px;
}

#quick-wrap .quick-arrow-wrap.top .quick-arrow-bottom {
  max-height: 35px;
}

#quick-wrap .quick-arrow-wrap.middle .quick-arrow-bottom {
  max-height: 35px;
}

#quick-wrap .quick-arrow-wrap.bottom .quick-arrow-bottom {
  max-height: 0;
}

#quick-wrap .quick-arrow-top {
  max-height: 35px;
}

#quick-wrap .quick-arrow-wrap .quick-arrow {
  height: 35px;
  cursor: pointer;
  width: 100%;
  display: block;
  background: transparent no-repeat center;
  vertical-align: top;
  font-size: 17px;
}

#quick-wrap .quick-arrow-wrap .quick-arrow.quick-arrow-up {
  /*  background-image: url("/Unfold/resource/icon-arrow-up.png");*/
}

#quick-wrap .quick-arrow-wrap .quick-arrow.quick-arrow-down {
  /*background-image: url("/Unfold/resource/icon-arrow-down.png");*/
}

/*
1.스크롤 값에 따라서 quick-arrow-wrap 에 addclass top middle bottom을 생성
2. quick-arrow-wrap.top,middle,bottom 하위 클래스 css 에 arrow-top,bottom의 max-height값 조정

*/
/* side Pannel 최하단 상담 , 네비게이션 */
.talk-qa-btn-comm {
  margin: 37px auto 46px auto;
}

.talk-qa-btn-comm ul {}

.talk-qa-btn-comm ul li {
  border: 1px solid #d1d1d1;
  margin: 0 auto;
  cursor: pointer;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  height: 53px;
  line-height: 53px;
  font-size: 13px;
  margin-top: 6px;
  transition: all 0.4s ease-out;
}

.talk-qa-btn-comm ul li:hover {
  border: 1px solid #000;
  transition: all 0.4s ease-out;
}

.talk-qa-btn-comm ul li:first-child+li a {
  background: url('/Unfold/resource/kakao.svg') left center no-repeat;
  background-size: 28px;
  display: inline-block;
  padding: 0px 0px 0px 34px;
}

.talk-qa-btn-comm ul li:first-child a {
  background: url('/Unfold/resource/naver.svg') left center no-repeat;
  background-size: 27px;
  display: inline-block;
  padding: 0px 0px 0px 34px;
}

.talk-qa-btn-comm ul li:first-child+li {}

.quick-content-01 .r-quick-cs {
  width: 80%;
  margin: 0 auto;
}

.quick-content-01 .r-quick-cs .contact {
  margin-top: 25px;
}

.quick-content-01 .r-quick-cs .contact strong {
  display: inline-block;
  margin-bottom: 7px;
  font-size:14px;
}

.quick-content-01 .r-quick-cs .contact p {
  margin-bottom: 14px;
}



#contents {
  width:100%;

  min-height: 1000px;
  padding-bottom: 120px;
}

#lnb {
  top: 0
}

.bx-wrapper {
  box-shadow: none !important;
  border: 0 !important;
}

.contents-wrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 95px;
  max-width: 1500px;
  margin-bottom: 150px;
}

body {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*메인 슬라이드*/
.wrap {

  width: 100%;

  min-height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

}

.wrap-90 {
  width: 90%;
  margin: 0 auto;
}

.wrap-100-bg {
  width: 100%;
  margin: 0 auto;
  background: #f9f9f9;
}

.wrap-80 {
  width: 80%;
  margin: 0 auto;
}



.menu-ico:hover #header {
  background: #fff;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.menu-ico {
     z-index: 102;
    /* width: 25px; */
    height: 23px;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    position: fixed;
    right: 18px;
    top: 24px;
    transform: translateY(0);
}
.menu-ico.bannerShow{
  transform: translateY(35px);
}


.menu-ico .search-menu {
  position: absolute;
  margin-left: 30px;
  top: 5px;
}

.menu-ico .search-menu i {
  font-size: 17px;
  /* margin-top: 2px; */
}

.hamburgerIco {
  position: relative;
  display: inline-block;
  /* float: left; */
  background: #000;
  transform: translateY(10px);
  /* transition: transform 0ms 300ms; */
  /* top: -13px; */
}

.hamburgerIco.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburgerIco,
.hamburgerIco:after,
.hamburgerIco:before {
  width: 20px;
  height: 2px;
}

.hamburgerIco:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  background: #000;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburgerIco:after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: #000;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburgerIco.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburgerIco.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*왼쪽 오픈메뉴*/
.open-menu {
  position: fixed;
  height: 100%;
  z-index: 100;
  right: 0;
  top: 0;
  transform: translateX(344px);
  transition: transform 0.5s ease;
}

.open-menu.active {
  transform: translateX(0);
}

.aside.active {
  opacity: 1;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.aside {
  position: relative;
  display: block;
  z-index: 8;
  height: 100%;
  background: #fff;
  opacity: 0.3;
  transition: opacity 0.3s ease-out, box-shadow 0.8s ease-out;
}

.aside .aside-wrap {
  width: 343px;
  height: 100%;
  float: right;
  text-align: center;
  border-left: 1px solid #eaeaea;
}

.aside .aside-wrap .aside-social {
  overflow: hidden;
  margin-top: 50px;
}

.aside .aside-wrap .aside-social i {
  font-size: 15px;
}

.aside .aside-wrap .aside-social ul {
  text-align: center;
}

.aside .aside-wrap .aside-social ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 9px;
  opacity: 0;
}

.aside.active .aside-wrap .aside-social ul li {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.aside.active .aside-wrap .aside-social ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.aside.active .aside-wrap .aside-social ul li:nth-child(2) {
  transition-delay: 0.4s;
}

.aside.active .aside-wrap .aside-social ul li:nth-child(3) {
  transition-delay: 0.6s;
}

.aside.active .aside-wrap .aside-social ul li:nth-child(4) {
  transition-delay: 0.8s;
}

.aside.active .aside-wrap .aside-social ul li:nth-child(5) {
  transition-delay: 1s;
}

.aside .aside-wrap .nav {
  margin-top: 30%;
}

.aside .aside-wrap .nav ul {}

.aside .aside-wrap .nav ul li {
  position: relative;
  line-height: 200%;
  font-size: 18px;
  /* font-weight: 700; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  opacity: 0;
  left: 30px;
}

.aside.active .aside-wrap .nav ul li {
  opacity: 1;
  transition: opacity 2s ease-out, left 0.8s ease-out;
  left: 0;
}

.aside.active .aside-wrap .nav ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.aside.active .aside-wrap .nav ul li:nth-child(2) {
  transition-delay: 0.4s;
}

.aside.active .aside-wrap .nav ul li:nth-child(3) {
  transition-delay: 0.6s;
}

.aside.active .aside-wrap .nav ul li:nth-child(4) {
  transition-delay: 0.7s;
}

.aside.active .aside-wrap .nav ul li:nth-child(5) {
  transition-delay: 0.8s;
}

.aside.active .aside-wrap .nav ul li:nth-child(6) {
  transition-delay: 0.9s;
}

.aside .aside-wrap .nav ul li a {
  color: #4e4e4e;
  transition: all 0.4s ease-out;
}

.aside .aside-wrap .nav ul li a:hover {
  color: #0088ff;
  transition: all 0.4s ease-out;
}

.aside .border-b {
  width: 17px;
  height: 2px;
  background: #000;
  margin-top: 70px;
  position: relative;
  left: -51px;
}

.aside.active .border-b {
  left: 0;
  transition: left 0.2s ease-out;
  transition-delay: 1.4s;
}

.aside .aside-wrap .asideFooter {
  top: 30px;
  opacity: 0;
  position: relative;
}

.aside.active .aside-wrap .asideFooter {
  opacity: 1;
  top: 0;
  transition: all 1s ease-out;
}

.aside .aside-wrap .cs-menu {
  font-size: 12px;
  margin-top: 44px;
}

.aside .aside-wrap .cs-menu p {
  border: 1px solid #f5f5f5;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  margin-top: 5px;
  zoom: 1;
  vertical-align: top;
  padding: 0 11px;
  margin-right: 1px;
  width: 20%;
  transition: all 0.4s ease-out;
  background: #fff;
}

.aside .aside-wrap .cs-menu p:hover {
  background: #fbfbfb;
  transition: all 0.4s ease-out;
}

.aside .aside-wrap .cs-menu p a {
  color: #8c8c8c;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  font-size: 11px;
}

.aside .aside-wrap .contact strong {
  display: inline-block;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 5px 11px;
  /* padding-bottom: 5px; */
  margin-bottom: 10px;
}

.aside .aside-wrap .contact {
  line-height: 169%;
  font-size: 12px;
  color: #4e4e4e;
}

.aside .aside-wrap .contact p {
  margin-top: 20px;
}




.border-m-line {
  position: absolute;
  transition: all 0.4s ease-out;
  border-bottom: 1px solid #ececec;
  left: 176px;
  top: 13px;
  width: 54%;
  display: none;
}

.button--size-s {
  border: 1px solid #000;
  transition: all 0.4s ease-out;
  display: inline-block;
  padding: 10px 20px 12px 20px;
}

.button--size-s:hover {
  border: 1px solid #f1f1f1;
  transition: all 0.4s ease-out;
}

.more-title {
  float: right;
  margin-top: 12px;
  font-size: 15px;
  display: inline-block;
}

.more-title a {
  font-size: 14px;
  display: inline-block;
}

.footer-insta-title {
  margin-bottom: 22px;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
}

.footer-insta-title i {
  padding-right: 8px;
  font-size: 23px;
  vertical-align: middle;
}

#footer {
  clear: both;
  text-align: left;
}

#footer .f-cs-csnter {
  margin-top: 97px;
}

#footer .f-info {

}

#footer .f-cs-csnter p {
  line-height: 163%;
  color: #aaaaaa;
  font-size: 13px;
  letter-spacing: 1px;
}

#footer .f-social h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 48px 0 28px 0;
  text-align: center;
}

#footer .f-social a {
  color: #959595;
  font-size: 12px;
  vertical-align: top;
  padding: 13px;
}

#footer .f-info p {
  color: #969696;
}

#footer .f-info a {
  color: #969696;
}

#footer .f-info span {
  padding-right: 7px;
  color: #969696;
  line-height: 180%;
  letter-spacing: 0.02em;
  font-size: 11px;
}

.gray-wrap {
  padding: 40px 0;
  background: #fff;
}

#footer .guide-wrap {
  border-top: 1px solid #e8e8e8;
  padding-top: 16px;
  /* width: 96%; */
  margin: 0 auto;
  margin-top: 19px;
}

#footer .guide-wrap .f-guide {
  line-height: 180%;
  letter-spacing: 0.02em;
  font-size: 11px;
  text-align: center;
  color: #4D4D4D;
  clear: both;
  margin: 0px auto 20px auto;
  margin-top: 25px;
}

#footer .guide li {
  display: inline-block;
  padding-right: 20px;
  text-decoration: underline;
  letter-spacing: 1px;
  height: 20px;
  line-height: 20px;
  margin-right: 2px;
  transition: all 0.4s ease-out;
}

#footer .guide li a {
  color: #4a4a4a;
  font-size: 11px;
}

#footer .f-guide {
  margin-top: 12px;
}

#footer .f-guide .bg {
  margin-bottom: 15px;
}

#footer .copyright {
  margin-top: 8px;
  color: #E5E5E5;
}

#footer .copyright a {
  color: #E5E5E5;
}

.footer-wrap {
  width: 90%;
  margin: 0 auto;
}

#boardArea {
  overflow: hidden;
  margin: 50px 0 0;
  border-top: 1px solid #d8d8d8;
}

#bannerArea {
  margin: 22px 0 0;
}

#bannerArea h2 {
  margin: 0 0 16px;
  font-weight: normal;
  font-size: 20px;
  color: #2e2e2e;
  text-align: center;
}

/* 탐색경로바 */
.path {
  overflow: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
  text-indent: -9999em;
}

.path h2 {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
}

.path ol {
  float: right;
}

.path li {
  float: left;
  padding: 0 0 0 12px;
  margin: 0 0 0 8px;
  color: #757575;
  background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_path.gif") no-repeat 0 10px;
}

.path li:first-child {
  background: none;
}

.path li a {
  color: #bebebe;
}

.path li strong,
.path li strong a {
  color: #bebebe;
}

/* 타이틀 */
.titleArea {
  padding: 70px 0;
  text-align: center;
}

.titleArea h2 {
  display: inline-block;
  color: #000;
  font-size: 24px;
  *display: inline;
  *zoom: 1;
}

.titleArea p {
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 0 0 0 10px;
  color: #939393;
  background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif") no-repeat 0 0;
  *display: inline;
  *zoom: 1;
  display: none !important;
}

.titleArea ul {
  padding: 5px 0;
  color: #939393;
  line-height: 18px;
}

.titleArea ul li {
  padding: 0 0 0 9px;
}

/* 이용안내 */
.help {
  margin: 40px 0 0;
  border: 1px solid #d6d4d4;
  line-height: 18px;
}

.help h3 {
  padding: 9px 0 6px 10px;
  border-bottom: 1px solid #e8e7e7;
  color: #353535;
  font-size: 12px;
  background: #fbfbfb;
}

.help .content {
  padding: 0 9px 12px;
}

.help .content h4 {
  margin: 22px 0 -4px;
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

.help .content h4:first-child {
  margin-top: 13px;
}

.help .content p {
  margin: 15px 0 0 10px;
  color: #757575;
}

.help .content ul {
  margin: 15px 0 0 11px;
}

.help .content li {
  padding: 0 0 0 25px;
  color: #757575;
  background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_number.png") no-repeat;
}

.help .content li.item1 {
  background-position: -484px 0;
}

.help .content li.item2 {
  background-position: -434px -100px;
}

.help .content li.item3 {
  background-position: -384px -200px;
}

.help .content li.item4 {
  background-position: -334px -300px;
}

.help .content li.item5 {
  background-position: -284px -400px;
}

.help .content li.item6 {
  background-position: -234px -500px;
}

.help .content li.item7 {
  background-position: -184px -600px;
}

.help .content li.item8 {
  background-position: -134px -700px;
}

.help .content li.item9 {
  background-position: -84px -800px;
}

.help .content li.item10 {
  background-position: -34px -900px;
}

/* 게시판 메인 */
.boardMain {
  overflow: hidden;
  *zoom: 1;
}

.boardMain td img {
  vertical-align: middle;
  margin: 1px;
}

.boardMain .board {
  margin: 0 0 65px;
}

.boardMain .leftArea {
  float: left;
  width: 50%;
}

.boardMain .leftArea .board {
  margin: 0 23px 65px 0;
}

.boardMain .rightArea {
  float: right;
  width: 50%;
}

.boardMain .rightArea .board {
  margin: 0 0 65px 23px;
}

.board-layout-menu {
  text-align: center;
}

.board-layout-menu h2 {
  margin: 200px auto 50px auto;
}

.board-layout-menu ul {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.board-layout-menu ul li {
  width: 25%;
  float: left;
  height: 50px;
  line-height: 50px;
  background: #f9f9f9;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.board-layout-menu ul li.on {
  background: #333;
  transition: all 0.4s ease-out;
}

.board-layout-menu ul li.on a {
  color: #fff;
  transition: all 0.4s ease-out;
}

.board-layout-menu ul li:hover {
  background: #333;
  transition: all 0.4s ease-out;
}

.board-layout-menu ul li:hover a {
  color: #fff;
  transition: all 0.4s ease-out;
}

.board-layout-menu ul li a {
  display: inline-block;
  width: 100%;
  height: 50px;
}

/* 퀵뷰 모달 */
#capp-shop-new-product-optionselect-layer {
  min-height: 600px;
}

#capp-shop-new-product-optionselect-iframe {
  border: 1px solid #333333;
}

#modalBackpanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #000;
}

#modalContainer {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10001;
  width: 975px;
  height: 720px;
  background: #fff;
}

#modalContainer #modalContent {
  width: 100%;
  height: 100%;
  border: 1px solid #333333;
}

.ec-solution-layer .header {
  padding: 7px 35px 7px 19px;
  color: #fff;
  background: #333;
}

/* topdown button */
.wrap_fixed_updown {
  position: absolute;
  bottom: 90px;
  right: 0;
  width: 100px;
}

.wrap_fixed_updown.fixed {
  position: static;
}

.right_aside .wrap_fixed_updown {
  right: -240px;
}

.fixed_updown_btn {
  display: none;
  position: fixed;
  bottom: 50px;
  z-index: 1000;
}

.fixed .fixed_updown_btn {
  right: 21px;
}

.fixed_updown_btn.type2 {
  bottom: 374px;
}

.fixed_updown_btn .btn_updown {
  display: block;
  overflow: hidden;
  width: 75px;
  height: 38px;
  background: url('/Unfold/resource/topdown_btn.png') no-repeat;
  text-indent: -9999px;
}

.fixed_updown_btn .btn_up {
  background-position: 0 0;
}

.fixed_updown_btn .btn_up:hover {
  background-position: 0 -80px;
}

.fixed_updown_btn .btn_down {
  height: 37px;
  background-position: 0 -40px;
}

.fixed_updown_btn .btn_down:hover {
  background-position: 0 -120px;
}

/* button */
.btn-d-gray {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 130px;
  cursor: pointer;
  background: #959595;
  color: #fff !important;
  transition: all 0.4s ease-out;
  border: 1px solid #959595;
  vertical-align: top;
}

.btn-d-gray:hover {
  opacity: 1;
  background: #6b6b6b;
  transition: all 0.4s ease-out;
  border: 1px solid #6b6b6b;
  color: #000;
}

.btn-white {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 130px;
  cursor: pointer;
  background: #fff;
  color: #959595;
  transition: all 0.4s ease-out;
  border: 1px solid #e4e4e4;
  vertical-align: top;
}

.btn-white:hover {
  opacity: 1;
  background: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #959595;
  color: #000;
}

.btn-gray {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 130px;
  cursor: pointer;
  background: #f1f1f1;
  color: #959595;
  transition: all 0.4s ease-out;
  border: 1px solid #f1f1f1;
  vertical-align: top;
}

.btn-gray:hover {
  opacity: 1;
  background: #e4e4e4;
  transition: all 0.4s ease-out;
  border: 1px solid #e4e4e4;
  color: #959595;
}

.btn-red {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 130px;
  cursor: pointer;
  background: #ff0000;
  color: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #ff0000;
  vertical-align: top;
}

.btn-red:hover {
  opacity: 1;
  background: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #8c8c8c;
  color: #000;
}

.btn-submit {
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 130px;
  cursor: pointer;
  background: #545454;
  color: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #545454;
  vertical-align: top;
}

.btn-submit:hover {
  opacity: 1;
  background: #313131;
  transition: all 0.4s ease-out;
  border: 1px solid #313131;
}

.m-btn-black {
  height: 25px;
  margin-bottom: 1px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 86px;
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #000;
}

.m-btn-black:hover {
  opacity: 1;
  background: #f3f3f3;
  transition: all 0.4s ease-out;
  border: 1px solid #8b8b8b;
  color: #000;
}

.m-btn-white {
  height: 25px;
  margin-bottom: 1px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 86px;
  cursor: pointer;
  background: #fff;
  color: #000;
  transition: all 0.4s ease-out;
  border: 1px solid #8c8c8c;
}

.m-btn-white:hover {
  opacity: 1;
  background: #ededed;
  transition: all 0.4s ease-out;
  border: 1px solid #e5e5e5;
  color: #000;
}

.m-btn-gray {
  height: 25px;
  margin-bottom: 1px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 86px;
  cursor: pointer;
  background: #ededed;
  color: #000;
  transition: all 0.4s ease-out;
  border: 1px solid #dfdfdf;
}

.m-btn-gray:hover {
  opacity: 1;
  background: #fff;
  transition: all 0.4s ease-out;
  border: 1px solid #8b8b8b;
  color: #000;
}

.b-width {
  width: 80%;
  margin-bottom: 2px;
}

.grid-btn {
  text-align: center;
  margin-top: 83px;
}

.grid-btn p {
  letter-spacing: 3px;
  margin-bottom: 7px;
}

.grid-btn ul {
  margin-left: -4px;
}

.grid-btn ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 0 5px;
}
.video-custom-com .embed-container{
  display: block;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  display: none;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ver-border {
  border-left: 1px solid #dcdcdc;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 100px;
  margin-top: 14px;
}

.title-pro h2 {
  margin-bottom: 4px;
  position: relative;
  font-size: 26px;
}

.title-pro {
  text-align: center;
  margin-top: 114px;
  margin-bottom: 43px;
}

.title-pro p {
  font-size: 13px;
}

.dot-black {
  position: absolute;
  width: 3px;
  height: 3px;
  left: 50%;
  top: -20px;
  background: #000;
  display: inline-block;
  zoom: 1;
  margin-left: -2px;
}

/*animation*/
@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  20% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  5% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce3 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce4 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes rightX {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes leftX {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

/*  animation: bounce3 1.3s;*/




  /* @media all and (max-width:1200px) {
      .top-gnb-02>ul>li{     margin: 0 18px; transition: all 0.4s ease-out; }


} */
