.xans-board-secure {margin:14px 7px 0; padding:0 0 29px; line-height:1.5; text-align:center; padding-bottom:50px;border:1px solid #d5d5d5;  }
.xans-board-secure h3 { color:#2e2e2e; background:#f0f0f0; border-bottom:1px solid #d5d5d5; text-align:center; line-height:43px; }
.xans-board-secure .comment { margin:-1px 0 0; border:1px solid #d5d5d5; background:#fff; }
.xans-board-secure .comment fieldset { margin:0 auto; padding:14px 28px; width:250px;padding-bottom: 52px; }
.xans-board-secure .info { margin-top:30px; margin-bottom:20px;}
.xans-board-secure .password label { display:none; }
