
<!--@import(/layout/basic/head-tag.html)-->

<style>
  #header {background:rgba(255,255,255,0.8);}
</style>


<body id="main">
 

  <!--검색--> <!--@import(/layout/basic/top-search.html)-->

  <!--@import(/layout/basic/header.html)-->
    

  <!-- 왼쪽 오픈메뉴--> <!--@import(/layout/basic/open-menu.html)-->
    

  <div id="contents">
    <div class="contents-wrap">
        
        
            <div class="board-layout-menu">
                <h2>COMMUNITY</h2>
                <ul>

                  <li class="bList"><a href="/board/free/list.html?board_no=1">공지사항</a></li>
                  <li class="bList"><a href="/board/product-01/list.html?board_no=4">실시간 제품후기</a></li>
                  <li class="bList"><a href="/board/product/list.html?board_no=6">문의사항</a></li>
                  <li class="bList"><a href="/board/gallery/list.html?board_act=list&board_no=8">NEWS&amp;EVENT</a></li>

                </ul>

              </div><!--board-layout-menu-->
        
        
        
      <!--@contents-->
    </div>
  </div>

    
  <!-- 오른쪽 퀵메뉴 --> <!--@import(/layout/basic/quick.html)-->

  <!-- 하단 인스타그램 --> <!--@import(/layout/basic/footer-instagram.html)-->

  <!-- 하단 정보 --> <!--@import(/layout/basic/footer-info.html)-->







    <script src="/Unfold/UnfoldJs/UnfoldLayout.min.js"></script>
    <script src="/Unfold/UnfoldJs/UnfoldCommon.min.js"></script>
    <!--
      layout.js는 layout.html을 공유.index.html엔 없고
      common.js는 index.html과 layout.html 공유
    -->



  </body>
  </html>
