     <!-- 고객센터 문구 수정 부분입니다. 아래에서 검정색 텍스트만 수정해 주세요 -->

            <div class="contact">
              <h3></h3>
              <p module="Layout_Info">
                <br />
                <strong>고객센터 운영시간</strong><br />
                월-금 : 오전 10시 ~ 6시 / 주말 및 공휴일 휴무<br />
                KAKAO ID : 세레바레<br />
                <span> {$phone}</span>

              </p>
              <p>
                <strong> 무통장 입금계좌</strong><br />
               KB 08403704010375<br />
              
              </p>
            </div><!--contact-->