<!-- 공통상단 카테고리 메뉴 -->
<div id="category" class="xans-element- xans-layout xans-layout-category">
  <div id ="headerCategory" class="position swiper-container">
    <ul class = "swiper-wrapper">


      <li class="swiper-slide"><a href="/about.html">브랜드</a></li>
      <li class="swiper-slide"><a href="/product/list.html?cate_no=24">쇼핑하기</a></li> <!-- 쇼핑하기 링크는 href=" " 의 따옴표 사이에 링크를 복사하여 넣어주세요.-->


       <!-- 아래는 매거진과 영상속 제품보기 링크 설정 방법입니다. -->
            <!-- 카테고리 분류 번호 확인 방법 - 쇼핑몰관리자 - 상품관리 - 상품분류관리 - 분류관리 - 원하시는 분류 선택 후 오른쪽 "분류 URL" 의 링크 맨 뒤 숫자가 분류 번호 입니다. (ex: http://ecudemo135441.cafe24.com/product/list.html?cate_no=24 )  는 24-->


      <li class="swiper-slide"><a href="/product/list-lookbook.html?cate_no=42">매거진</a></li>    <!-- 매거진 링크는 href="/product/list-lookbook.html?cate_no=42" 의 맨뒤 숫자만 해당하는 분류 번호로 수정해서 사용해 주세요 -->
      <li class="swiper-slide"><a href="/product/list-video.html?cate_no=43">영상 제품보기</a></li>   <!-- 영상제품보기 링크는 href="/product/list-video.html?cate_no=43" 의 맨뒤 숫자만 해당하는 분류 번호로 수정해서 사용해 주세요 -->
      <li class="swiper-slide"><a href="/instagram.html">@인스타그램</a></li>
      <li class="swiper-slide"><a href="/board/product-01/list.html?board_no=4">제품후기</a></li>

    </ul>
  </div><!--position swiper-container-->
</div><!--category-->
