
<!--@import(/layout/basic/head-tag.html)-->


<body id="main">
  <!-- 상단 띠배너--> <!--@import(/layout/basic/mainBanner.html)-->

  <!--@import(/layout/basic/header.html)-->



  <div id="contents" class = "mainBannerShow_ChangeThis">
    <div class="contents-wrap">
      <!--@contents-->
    </div>
  </div>


  <!-- 오른쪽 퀵메뉴 --> <!--@import(/layout/basic/quick.html)-->

  <!-- 하단 인스타그램 --> <!--@import(/layout/basic/footer-instagram.html)-->

  <!-- 하단 정보 --> <!--@import(/layout/basic/footer-info.html)-->



<div id="progressPaybar" style="display:none;">
    <div id="progressPaybarBackground" class="layerProgress"></div>
    <div id="progressPaybarView">
        <p class="graph">현재 결제가 진행중입니다.</p>
        <p class="txt">
            본 결제 창은 결제완료 후 자동으로 닫히며, <br>
            결제 진행 중에 본 결제 창을 닫으시면<br>
            주문이 되지 않으니 <br>
            결제 완료 될 때 까지 닫지 마시기 바랍니다.
        </p>
    </div>
</div>



    <script src="/Unfold/UnfoldJs/UnfoldLayout.min.js"></script>
    <script src="/Unfold/UnfoldJs/UnfoldCommon.min.js"></script>
   


  </body>
  </html>
