<!-- 텍스트 문구의 수정은 아래에서 검정색 텍스트만 수정해 주세요.
  각 이미지 링크의 수정은 기재된 부분의 href='#' 의 샾 표시 삭제후 싱글따옴표 안쪽으로 링크를 넣어주세요 -->


  <!-- ////////////// 메인 슬라이드 시작 ////////////////-->

  <div data-use = "" id="indMainSection" class="section">

    <!--이미지링크1-->
    <div class="left-wrap" onclick="location.href='#'" style="cursor:pointer;">
      <div class="text-wrap" style="">
        <p class="text-01" style="">추석 기획전</p>
        <p class="text-02">
          + VIEW MORE


        </p>

      </div>
      <!--text-wrap-->

    </div>
    <!--left-wrap-->
    <!--이미지링크2-->
    <div class="right-wrap" onclick="location.href='#'" style="cursor:pointer;">
      <div class="text-wrap">
        <p class="text-01" style="">+ 프리미엄 영양제 </p>
        <p class="text-02">
          ** 영양제 소개페이지로 넣기**

        </p>

      </div>
      <!--text-wrap-->

    </div>
    <!--right-wrap-->


  </div>
  <!--indMainSection-->
  <!-- ////////////// 메인 슬라이드 END  ////////////////-->
