


<!-- ////////////// 메인 슬라이드  시작 ////////////////-->
<div data-use = "off" id="mainSection_event" class="section">
  <div class="event-wrap-all-out">

    <div class="event-wrap-all">
      <div class="main-board-slide">


        <div class="event-main" id="event-main">



          <div class="event-main-list">
            <div module="board_listpackage_8">



              <div id ="mainEventSw" class="galleryList" module="board_list_8">
                <!--
                  $count = 9
                  $main_list = yes
                -->
                <ul class="swiper-wrapper">
                  <li class="swiper-slide items animatable fadeInUp" onclick="location.href='/board/gallery/read.html{$param_read}'">
                    <div class="main-event-img">
                      <p><a href="/board/gallery/read.html{$param_read}" class="imgLink"><img src="{$img_src}" alt="" /></a></p>
                    </div>
                    <div class="main-event-cont-box">
                      <div class="main-event-title">
                        <p>{$subject|cut:40,...}</p>
                      </div>
                      <div class="main-event-cont">
                        <p>{$content}</p>
                      </div>

                    </div>
                  </li>
                  <li class="swiper-slide items animatable fadeInUp" onclick="location.href='/board/gallery/read.html{$param_read}'">
                    <div class="main-event-img">
                      <p><a href="/board/gallery/read.html{$param_read}" class="imgLink"><img src="{$img_src}" alt="" /></a></p>
                    </div>
                    <div class="main-event-title">
                      <p>{$subject|cut:40,...}</p>
                    </div>
                    <div class="main-event-cont">
                      <p>{$content}</p>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
            <!--board_listpackage_8 -->

          </div>
        </div>

        <!--event-main-list-->

      </div>
      <!--main-board-slide-->
    </div>
    <!--"event-wrap-all"-->
  </div>
  <!--"event-wrap-all-out"-->

  <div class="swiper-scrollbar"></div>
</div>
<!--mainSection_event-->
<!-- ////////////// 메인 슬라이드 END  ////////////////-->
