



          <!-- 텍스트 문구의 수정은 아래에서 검정색 텍스트만 수정해 주세요.
            버튼 링크의 수정은 기재된 부분의 href='#' 의 샾 표시 삭제후 싱글따옴표 안쪽으로 링크를 넣어주세요 -->



            <div id = "sh_Codinate" class="product-main-list-02 on_off_select">
              <div class="title-pro">


                <!-- 상단 타이틀 -->
                <h2><span class="dot-black" style="top:-20px;"></span>트렌드 코디네이션</h2>
                <p>프로모션이나 이벤트등 이미지와 링크, 텍스트를 수정하여 다양하게 활용 가능한 공간입니다.</p>

              </div>
              <div class="banner-clear">

                <!-- 상단 큰배너 2개 링크 부분 -->

                <p class="banner-01"><a href="#"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/m112_unfold/main-list-02-banner-01.jpg"></a></p>
                <p class="banner-02"><a href="#"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/m112_unfold/main-list-02-banner-02.jpg"></a></p>

                <!-- 상단 큰배너 2개 링크 부분  END-->

              </div><!--banner-clear-->
              <div class="mini-banner">



                <!-- 하단 3개 작은 배너 부분-->


                <!-- 왼쪽 배너-->
                <!-- 링크--> <div class="mini-banner-list" onclick="location.href='#'">
                  <div class="text-l-all">
                    <p class="txt-sub-02">WICUE</p>
                    <p class="border-s-gray"></p>
                    <h5>Ice 쿨링- <br />레터 티셔츠</h5>
                    <p class="txt-sub-01-gray">~20%</p>
                  </div>
                  <p class="banner-circle"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/m112_unfold/main-list-02-banner-circle-01.jpg"></p>
                </div><!--mini-banner-list-->


                <div class="ver-border"></div>


                <!-- 가운데 배너-->
                <!--링크--> <div class="mini-banner-list" onclick="location.href='#'">
                  <div class="text-l-all">
                    <p class="txt-sub-02">NEW</p>
                    <p class="border-s-gray"></p>
                    <h5>스마트 <br />메모보드</h5>
                    <p class="txt-sub-01-gray">~20%</p>
                  </div>
                  <p class="banner-circle"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/m112_unfold/main-list-02-banner-circle-02.jpg"></p>
                </div><!--mini-banner-list-->




                <div class="ver-border"></div>



                <!--오른쪽 배너-->
                <!--링크 -->  <div class="mini-banner-list" onclick="location.href='#'">
                  <div class="text-l-all">
                    <p class="txt-sub-02">SALE</p>
                    <p class="border-s-gray"></p>
                    <h5>너만봐! <br />디자인 케이스</h5>
                    <p class="txt-sub-01-gray">~10%</p>
                  </div>
                  <p class="banner-circle"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/m112_unfold/main-list-02-banner-circle-03.jpg"></p>
                </div><!--mini-banner-list-->



                <!-- 하단 3개 작은 배너 부분 END-->


              </div><!--mini-banner-->



            </div><!--product-main-list-02-->



