

.xans-board-listpackage-1    {      text-align: left;
 
   
    overflow: hidden;
}
.xans-board-listpackage-1 { }

.xans-board-listpackage-1 h3:hover { border: 1px solid #000; transition: all 0.4s ease-out;}
.xans-board-listpackage-1 p { }
.xans-board-listpackage-1 p.more { }
.xans-board-listpackage-1 span { }
.xans-board-listpackage-1 td.main { text-align:left;}
.xans-board-listpackage-1 tr {      height:34px;
  
    border-bottom: 1px solid #dcdcdc;
    line-height: 33px;}
.xans-board-listpackage-1 a {color:#494949;}
