.main-board-slide .xans-board-4 {}
.main-board-slide .xans-board-4 img {padding-bottom:10px;}
.main-board-slide .xans-board-4 .cont-box {background:#fbfbfb;float:left;  
    width: 218px;
    height: 100px;    line-height: 160%;}
.main-board-slide .xans-board-4 .cont-box a {display:inline-block; *display:inline; zoom:1; padding:20px;}
.main-board-slide .xans-board-4 .cont-img {float:left;}
.main-board-slide .xans-board-4 li {clear:both;}