 <!-- 텍스트 문구의 수정은 아래에서 검정색 텍스트만 수정해 주세요.
         각 이미지 링크의 수정은 기재된 부분의 href='#' 의 샾 표시 삭제후 싱글따옴표 안쪽으로 링크를 넣어주세요 --> 


  <div class="member-benefit">
    <h3>MEMBERSHIP BENEFIT</h3>
    <ul>
      <li onclick="location.href='#'"><h4><i class="ti-wand"></i>신규회원 적립금</h4><p>가입축하 적립금 2,000원 지급</p><div class="arrow-r"><i class="ti-arrow-right"></i></div></li>
      <li onclick="location.href='#'"><h4><i class="ti-marker-alt"></i>후기 적립금</h4><p>포토후기 선정 최대 만원 적립금</p><div class="arrow-r"><i class="ti-arrow-right"></i></div></li>
      <li onclick="location.href='#'"><h4><i class="ti-crown"></i>등급별 할인 혜택</h4><p>구매 금액별 할인 쿠폰 지급</p><div class="arrow-r"><i class="ti-arrow-right"></i></div></li>
      <li onclick="location.href='#'"><h4><i class="ti-truck"></i>무료배송</h4><p>전상품 3만원이상 결제시 무료배송</p><div class="arrow-r"><i class="ti-arrow-right"></i></div></li>

    </ul>
  </div><!--member-benefit-->