              <div id="footer"  module="Layout_footer">

                      <div class="gray-wrap">
                        <div class="footer-wrap">

                          <div class="f-info">
                            <p style="color: #000; margin-bottom: 27px; font-size: 14px;"><i class="fas fa-info-circle" style="padding-right:5px;"></i>
                                
                    <!-- 하단 고객센터 안내 문구 입니다. 아래에서 검정색 텍스트만 수정해 주세요 -->         
                                
                              <strong>고객센터 안내 </strong>: {$phone} / <strong>운영시간</strong> : 월~금 10:00 ~ 18:00 시 까지  (휴뮤 - 토,일 및 공휴일 ) / <strong>무통장입금계좌</strong> : KB 08403704010375</p>
                              
                    <!-- 하단 고객센터 안내 문구 입니다.  END -->            
                              
                              <div class="border-short" style=" margin: 11px 0 24px 0;"></div>
                            <p><span><strong>COMPANY. </strong>{$company_name}</span> <span><strong>OWNER. </strong>{$president_name}</span><span><strong>BUSINESS LICENCE. </strong>[{$company_regno}]</span>

                                <span><strong>E-COMMERCE PERMIT. </strong>{$network_regno}</span> <span>{$biz_no_link}</span></p>
                                <p><span><strong>TEL. </strong>{$phone}</span><span><strong>PERSONAL INFORMATION MANAGER. </strong><a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span>
                                  <span><strong>ADDRESS. </strong>{$mall_zipcode} {$mall_addr1} {$mall_addr2}</span> </p>
                                  <p><span>CONTACT <strong><a href="mailto:{$email}">{$email}</a></strong> FOR MORE INFORMATION.</span><span class="copyright">COPYRIGHT &copy;<strong>{$mall_name}</strong>. ALL RIGHTS RESERVED.</span> </p>
                                </div>

                                <div class="f-guide">
                                  <p class="bg" style="color:#969696;">
                                    <!-- <img src="/Unfold/resource/footer-pay-ico-bg-01.jpg" style="padding-right: 16px;">-->
                                    고객님의 안전한 결제를 위해 저희 쇼핑몰에서 가입한 PG사의 구매안전 에스크로 서비스를 이용하실 수 있습니다.</p>

                                  </div>

                                  <div class="guide-wrap">
                                    <ul class="guide">
                                      <li class="home-pay"><a href="/index.html">HOME</a></li>
                                      <li><a href="/about.html">ABOUT US</a></li>
                                      <li><a href="/member/agreement.html">AGREEMENT</a></li>
                                      <li><a href="/member/privacy.html">PRIVACY</a></li>
                                      <li><a href="/shopinfo/guide.html">GUIDE</a></li>
                                    </ul>
                                    <p class="copyright">Hosting by Simplex Internet Inc. Designed by <a href="http://unfold.kr" target="new">UNFOLD</a></p>
                                  </div>

                                </div><!--footer-wrap-->
                              </div><!--gray-wrap-->

                            </div><!-- id="footer"  module="Layout_footer"-->