<!-- 인스타그램 타이틀 부분입니다. 아래에서 검정색 텍스트만 수정해 주세요. -->           
     <div class="bott-insta" >      
<p class="footer-insta-title"><i class="ti-instagram"></i><a>serebare_official</a></p>






<!-- 인스타그램 코드 공간입니다. 아래 내용 전체를 삭제 후 붙여넣기해 주세요 -->
         
<!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/4bb50b026a535139a3156b57dbe8c73a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
         
         <!-- 인스타그램 코드 공간입니다. END -->
         
         
         </div><!--bott-insta ->