<!--@import(/layout/basic/head-tag.html)-->
<link rel="stylesheet" href="/Unfold/UnfoldCss/UnfoldLayout.css">


<body>

  <!-- 상단 띠배너--> <!--@import(/layout/basic/mainBanner.html)-->
      <!--@import(/layout/basic/top-search.html)-->
   
  <div id="header" >



    <!--@import(/layout/basic/top-gnb-02.html)-->   <!-- 상단메뉴 -->



  </div><!-- header-->


       <!-- 오른쪽 오픈메뉴--> <!--@import(/layout/basic/open-menu.html)-->




  <div id="contents">
    <div class="contents-wrap">
      <!--@contents-->
    </div>
  </div>


       <!-- 오른쪽 퀵메뉴 --> <!--@import(/layout/basic/quick.html)-->





<!-- 하단 영역 시작 -->

  <div id="lastslideContainer" class="common-f">

                   <!-- 하단 인스타그램 --> <!--@import(/layout/basic/footer-instagram.html)-->

       			    <!-- 하단 정보 --> <!--@import(/layout/basic/footer-info.html)-->

 </div><!--common-f-->






          <!-- 결제를 위한 필수 영역 -->
          <div id="progressPaybar" style="display:none;">
            <div id="progressPaybarBackground" class="layerProgress"></div>
            <div id="progressPaybarView">
              <div class="box">
                <p class="graph">
                  <span><img src="//img.echosting.cafe24.com/skin/base_ko_KR/layout/txt_progress.gif" alt="현재 결제가 진행중입니다." /></span>
                  <span><img src="//img.echosting.cafe24.com/skin/base/layout/img_loading.gif" alt="" /></span>
                </p>
                <p class="txt">
                  본 결제 창은 결제완료 후 자동으로 닫히며,결제 진행 중에 본 결제 창을 닫으시면<br />
                  주문이 되지 않으니 결제 완료 될 때 까지 닫지 마시기 바랍니다.
                </p>
              </div>
            </div>
          </div>
          <!-- // 결제를 위한 필수 영역 -->



          <script src="/Unfold/UnfoldJs/UnfoldLayout.min.js"></script>
          <script src="/Unfold/UnfoldJs/UnfoldCommon.min.js"></script>
        
          <!--@import(/layout/basic/script-common.html)-->
      

 </body>
