 
                <!-- ////////////// mainSection_2row_SlideWithText_Review 시작 ////////////////-->
                <div data-use = "" id="mainSection_2row_SlideWithText_Review" class="section">
                  <div class="review-board shop-slide-03">

                    <div class="title-txt">

             <!-- ////////////// 리뷰 타이틀 문구 입니다. 아래에서 검정색 텍스트를 수정해 주세요 -->

                      <h2><i class="ti-camera"></i>실시간 제품리뷰</h2>   <!-- 텍스트 수정 -->

                      <div class="more-btn">
                        <span class="more-title"><a href="/board/product-01/list.html?board_no=4">더보기</a></span> <i class="ti-plus"></i>  <!-- 텍스트 수정 -->
                      </div><!--more-btn-->

                    </div><!--title-txt-->
                    <div class="border-short" style="  margin: 0; margin-bottom: 31px; margin-left: 2px;"></div>

                    <div id = "review2RowSw"  module="board_listpackage_4" class="item-box" >

                      <ul class = "swiper-wrapper" module="board_list_4">

                        <!--
                          $main_list = yes
                          $count = 12
                        -->


                         <li class = "swiper-slide" onclick="location.href='/board/product-01/read.html{$param_read}'">
                          <div class="main">
                            <div class="cont-img">
                              <a href="/board/product-01/read.html{$param_read}" class="imgLink">{$product_img}</a>
                              </div>

                            <div class="cont-box-all">
                                     <div class="cont-box-all-wrap">
                                              <div class="thumb-img"><a href="/board/product-01/read.html{$param_read}" class="imgLink"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/file_data{$real_filename}" onerror="this.src='//img.echosting.cafe24.com/thumb/198x198.gif'" alt="" /></a></div>
                                              <div class="cont-box"><a href="/board/product-01/read.html{$param_read}">{$subject|cut:26,...}</a></div>

                                              <div class="review-cont">{$content}</div>

                                              <div class="writer">{$writer}</div>

                                              <div class="{$date_display|display} date"><span class="txtNum">{$write_date}</span></div>

                                              <div class="{$hit_display|display} count"><i class="ti-eye"></i><span class="txtNum">{$hit_count}</span></div>
                                           <div class="review-point"><img data-src="/Unfold/resource/ico_point{$point_count}.png" alt="{$point_count}점"></div>
                                         </div><!--cont-box-all-wrap-->
                            </div><!--cont-box-all-->
                          </div>
                        </li>

                         <li class = "swiper-slide" onclick="location.href='/board/product-01/read.html{$param_read}'">
                          <div class="main">
                            <div class="cont-img">
                              <a href="/board/product-01/read.html{$param_read}" class="imgLink">{$product_img}</a>
                              </div>

                            <div class="cont-box-all">
                                     <div class="cont-box-all-wrap">
                                              <div class="thumb-img"><a href="/board/product-01/read.html{$param_read}" class="imgLink"><img src="//ecimg.cafe24img.com/pg526b93115472059/handy23/file_data{$real_filename}" onerror="this.src='//img.echosting.cafe24.com/thumb/198x198.gif'" alt="" /></a></div>
                                              <div class="cont-box"><a href="/board/product-01/read.html{$param_read}">{$subject|cut:26,...}</a></div>

                                              <div class="review-cont">{$content}</div>

                                              <div class="writer">{$writer}</div>

                                              <div class="{$date_display|display} date"><span class="txtNum">{$write_date}</span></div>

                                              <div class="{$hit_display|display} count"><i class="ti-eye"></i><span class="txtNum">{$hit_count}</span></div>
                                           <div class="review-point"><img data-src="/Unfold/resource/ico_point{$point_count}.png" alt="{$point_count}점"></div>
                                         </div><!--cont-box-all-wrap-->
                            </div><!--cont-box-all-->
                          </div>
                        </li>

                      </ul>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div> <!--board_listpackage_4-->

                    <div class="swiper-scrollbar"></div>
                  </div><!--review-board-->

                </div>
                <!-- ////////////// mainSection_2row_SlideWithText_Review END  ////////////////-->
