

<!-- ////////////// 메인 슬라이드 5 시작 ////////////////-->


<section id="slide5" class="slide mainParallax">
  <div class="S5Background">


    <div class="video-background">

      <div class="video-foreground">


        <!--/////// 동영상 부분입니다. 유튜브 영상 페이지에서 영상 하단의 "공유"-"소스코드" 클릭 후 생성된 코드 중 (크롬은 "공유"-"퍼가기")
          ex : https://www.youtube.com/embed/0000000  의  embed/ 뒷 부분만 복사하여  오른쪽 0000000 표기 부분 위치, https://www.youtube.com/embed/00000000?version=2&playlist=00000000   의 아래 동일한 글 영역에 붙여넣기 해주세요. (2개 모두 넣어주셔야 합니다.)     ///////////-->


          <iframe class="youtube-player" id="player" src="https://www.youtube.com/embed/SBo_iTnvPk0?version=2&playlist=SBo_iTnvPk0&wmode=opaque&autoplay=1&controls=0&enablejsapi=1&showinfo=0&rel=0&modestbranding=1&loop=1&vq=highres&mute=1" frameborder="0" allowfullscreen><div id="player"></div></iframe>


          <!-- ///////////////////////// 메인 비디오 교체 링크 입니다 END /////////////////////////// -->

        </div>
      </div>
    </div>






    <!-- 텍스트 문구의 수정은 아래에서 검정색 텍스트만 수정해 주세요.
      링크의 수정은 기재된 부분의 href="#" 의 샾 표시 삭제후 따옴표 안쪽으로 링크를 넣어주세요 -->


            <div class="text-wrap">
            <div class="text-inner">
              <p class="text-01">
                유튜브 배경 영상, 텍스트, 링크 <br />
                모두 직접 변경이 가능합니다.
                <br />
                <i class="ti-more-alt"></i>
              </p>
              <p class="text-02">
                직접 쉽게 수정이 가능하도록 상세한 메뉴얼을 제공해 드립니다.<br />
                준비사항없이 셋팅 가능하며, 셋팅시 미진행 하셨던 사항들은<br />
                추후에 남겨주시면 기간 제한없이 수정해 드리고 있습니다.

              </p>
              <!-- 버튼 링크 --> <p class="text-btn"><a href="#">제품 보러가기
                <i class="ti-arrow-right"></i></a></p>
                </div><!--text-inner-->
              </div><!--text-wrap-->

            </section><!--slide5-->
            <!-- ////////////// 메인 슬라이드 5 END  ////////////////-->
