
	</div>
			<ul id="pagination" class="pagination">

				
				<li onmouseover="slideshow.pos(0)"><a href="/member/join.html" target="_top"><img src="/Unfold/images/popup3/popup_btn_01.jpg" alt=""	/></a></li>
                <li onmouseover="slideshow.pos(1)"><a href="/board/product/list.html?board_no=4" target="_top"><img src="/Unfold/images/popup3/popup_btn_02.jpg" alt="" /></a></li>
                <li onmouseover="slideshow.pos(2)"><a href="/member/join.html" target="_top"><img src="/Unfold/images/popup3/popup_btn_03.jpg" alt="" /></a></li>

			</ul>
	</div>


	<div style="clear:both"></div>
	<script type="text/javascript">
	var slideshow=new multi3Slider.slider.slide('slideshow',{
        
		id:'multi3_Slider',
        navid:'pagination',
	    position:0,
		resume:true,
		vertical:false,
		auto:3,
		activeclass:'current',

	});
	</script>
    
