
<div class="menu-ico mainBannerShow_ChangeThis">
  <div class="hamburgerIco"> </div>
</div>

  <div class="open-menu">


    <div class="aside">
      <div class="aside-wrap">
        <div class="aside-social">
          <ul>

  <!-- 상단 소셜 링크입니다. 아래에서 href="#" 의 샾 표시 삭제후 따옴표 안쪽으로 링크를 넣어주세요    -->

            <li><a href="#" target="new"><i class="ti-facebook"></i></a></li>

            <li><a href="#" target="new"><i class="ti-youtube"></i></a></li>
            <li><a href="#" target="new"><i class="ti-pinterest"></i></a></li>
            <li><a href="#" target="new"><i class="ti-twitter-alt"></i></a></li>
            <li><a href="https://www.instagram.com/serebare_official" target="new"><i class="ti-instagram"></i></a></li>
            <li><a href="#" target="new"><img src="/Unfold/resource/blog_ico.jpg" style="width: 10px;vertical-align: unset;"></a></li>

  <!-- 상단 소셜링크 END -->


          </ul>
        </div>
        <div class="nav">
          <ul>

<!-- 각 카테고리 명은 아래에서 검정색 텍스트를 수정하여 주세요.
        모든 링크는 href=" " 의 따옴표 안쪽으로 기재하여 주세요. 링크의 경우 꼭 필요한 경우에만 수정해 주시길 바랍니다.-->

            <li><a href="/product/list.html?cate_no=24">SHOP</a></li>
            <li><a href="/about.html">BRAND</a></li>

<!-- 아래는 매거진과 영상속 제품보기 링크 설정 방법입니다. -->
<!-- 카테고리 분류 번호 확인 방법 - 쇼핑몰관리자 - 상품관리 - 상품분류관리 - 분류관리 - 원하시는 분류 선택 후 오른쪽 "분류 URL" 의 링크 맨 뒤 숫자가 분류 번호 입니다. (ex: http://ecudemo135441.cafe24.com/product/list.html?cate_no=24 )  는 24-->

            <li><a href="/product/list-lookbook.html?cate_no=42">MAGAZINE</a></li>    <!-- 매거진 링크는 href="/product/list-lookbook.html?cate_no=42" 의 맨뒤 숫자만 해당하는 분류 번호로 수정해서 사용해 주세요 -->
            <li><a href="/product/list-video.html?cate_no=43">MOVIE</a></li>    <!-- 영상제품보기 링크는 href="/product/list-video.html?cate_no=43" 의 맨뒤 숫자만 해당하는 분류 번호로 수정해서 사용해 주세요 -->
            <li><a href="/instagram.html">@INSTAGRAM</a></li>
            <li><a href="/myshop/index.html">MY PAGE</a></li>

          </ul>
        </div><!--<nav>-->
          <!-- <div class="border-b"></div> -->

          <div class="asideFooter">
            <div class="cs-menu">
              <p module="Layout_statelogoff"><a href="/member/login.html">로그인</a></p>
              <p module="Layout_statelogon"><a href="{$action_logout}">로그아웃</a></p>
              <p module="Layout_statelogoff"><a href="/member/join.html">회원가입</a></p>
              <p><a href="/member/modify.html">회원정보</a></p>
              <p><a href="/myshop/order/list.html">주문조회</a></p>
              <p><a href="/order/basket.html">장바구니</a></p>
              <p><a href="/board/free/list.html?board_no=1">공지사항</a></p>
              <p><a href="/board/product/list.html?board_no=6">문의하기</a></p>
              <p><a href="/board/product-01/list.html?board_no=4">제품후기</a></p>
              <p><a href="/board/gallery/list.html?board_act=list&board_no=8">이벤트</a></p>
            </div><!--cs-menu-->

         <!--고객센터 정보--> <!--@import(/layout/basic/cscenter.html)-->


          </div>
        </div><!--aside-wrap-->
      </div><!--aside -->

    </div><!--open-menu-->
