<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    figure {padding:0; margin:0;}
figure.snip0051 { cursor:pointer;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 698px;
  height: 348px;
  border: 1px solid #d1d1d1; border-bottom:0;
  background: #000000;
}
figure.snip0051 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0051 > img {
  margin-left: 50%;
  opacity: 1;
  width: 50%;
  filter: blur(0px);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
figure.snip0051 figcaption {
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ffffff;
}
figure.snip0051 figcaption h2{
  margin: 0;
  color: #000000;
  text-align: right;
  position: absolute;
  padding: 10px 0 10px 0px;
  margin: 0 40px 0 20px;
}
figure.snip0051 figcaption p {
  margin: 0;
  color: #000000;
  text-align: right;
  position: absolute;
      bottom: 55%;     padding: 10px 0 10px 0px;
    margin: 0 40px 0 20px;
    right: 0;
}
figure.snip0051 figcaption h2 {
  font-size: 1.3em;
  bottom: 62%;
  right: 0;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0051 figcaption h2 span {
  font-weight: 800;
}
figure.snip0051 figcaption p {     line-height: 140%;
  top: 39.5%;
  font-size: 13px;
  opacity: 0.8;
}
figure.snip0051 .icons {
  padding: 5px;
  position: absolute;
  left: 59%;
  top: 50%;
  padding-left: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip0051 .icons i {
      font-size: 21px;
    font-style: normal;
  padding: 5px;
  color: #ffffff;
  opacity: 0;
  top: 50%;
  display: inline-block;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
}
figure.snip0051 .icons a:first-child i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0051 .icons a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.snip0051 .icons a:nth-child(3) i {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0051:after {
  
}
figure.snip0051:hover > img,
figure.snip0051.hover > img {
  opacity: 0.5;
 /* filter: blur(5px); */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip0051:hover i,
figure.snip0051.hover i {
  opacity: 0.8;
  -webkit-transform: translate(0);
  transform: translate(0);
}
figure.snip0051:hover a:first-child i,
figure.snip0051.hover a:first-child i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.snip0051:hover a:nth-child(2) i,
figure.snip0051.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip0051:hover a:nth-child(3) i,
figure.snip0051.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* Demo purposes only */
body {

}

    </style>
    <script>
   /* Demo purposes only */	
$("figure").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);
        </script>