      html, body { width:100%; height:100% } 




/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/
.bxslider {width:100%;  height:100%; }
.bxslider li{width:100%; height:100% !important;}
        
.bx-viewport { height:100% !important; }
.bx-wrapper {  height:100% ;
	position: relative;
    clear:both;
	padding: 0;
	*zoom: 1;     margin: 0 auto;
}
.bx-wrapper li {cursor:pointer;}
.bx-wrapper img {     
	width: 100%;
	display: block;
}
.bx-wrapper:hover a{opacity:1;}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
   

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

/* LOADER */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
  
    width: 100%;
        right: 80%;
    bottom: 200px;
}


.bx-wrapper .bx-loading {
	min-height: 50px;

	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: right;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
  
    
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	  
    display:inline-block; zoom:1; *display:inline; font-size:0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	border-top:1px solid #fff;
	text-indent: -9999px;
	display: block;
	width: 30px; transition: all 0.4s ease-out;

	height: 1px;



    

}

/*.bx-wrapper .bx-pager.bx-default-pager a:hover,*/
.bx-wrapper .bx-pager.bx-default-pager a.active {
	border-top:1px solid #000;
    width: 30px; transition: all 0.4s ease-out;

    
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
     text-indent: 9999px; 
    background: url('//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/unfold_design114/shop_arrow.png') no-repeat 0 0;  
  text-decoration: none;
  display: block;
  width:70px;
  height: 100px;
  
  position: absolute;
  top:40%;
  z-index: 10;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
	left: 14px;
      background-position:0px 0; 
    
}

.bx-wrapper .bx-next {
     text-indent: 9999px; 
    background: url('//ecimg.cafe24img.com/pg526b93115472059/handy23/web/upload/unfold_design114/shop_arrow.png') no-repeat 0 0;  

  width:70px;
  height: 100px;
    text-decoration: none;
  display: block;
  position: absolute;
  top: 40%;
  z-index: 10;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  right: 6px;
    background-position:-115px 0; 
}

.bx-wrapper:hover .bx-prev {
 
  
}
.bx-wrapper:hover .bx-prev:hover {
  opacity: 1;
}
.bx-wrapper:hover .bx-next {
  

}

.bx-wrapper:hover .bx-next:hover {
  opacity: 1;
}




/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;

	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;

	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

