.path {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  *zoom: 1;
  text-indent: 0;
  font-size: 11px;
  margin-left: -19px;
  margin-bottom: 37px;
  position: absolute;
  right: 0.45%;
  top: 13px;
}

.path span {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
}

.path ol {
  float: right;
}

.path li {
  float: left;
  padding: 0 0 0 12px;
  margin: 0 0 0 8px;
  color: #757575;
  background: url("/Unfold/resource/ico_path1.png") no-repeat 0 12px;
}

.path li:first-child {
  background: none;
}

.path li a {
  color: #e0e0e0;
}

.path li strong,
.path li strong a {
  color: #2e2e2e;
}

.xans-product-menupackage {
  margin-top: 0px;
  /*    padding-top: 202px;*/
}

.xans-product-menupackage .title {
  min-height: 30px;
  margin: 0 0 10px;
  clear: both;
  text-align: center;
}

.xans-product-menupackage .title .banner {
  margin: 0 0 20px;
}

.xans-product-menupackage .title .banner img {
  width: 100%;
}

.xans-product-menupackage .title h2 {
  color: #424242;
  margin-bottom: 26px;
  font-size: 30px;
  margin-top: 70px;
  font-weight: 500;
}

.xans-product-menupackage .menuCategory {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.xans-product-menupackage .menuCategory>li {
  display: inline-block;
  line-height: 186%;
  font-size: 14px;
  border-left: 1px solid #989898;
  font-weight: normal;
  line-height: 12px;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  position: relative;
  height: 12px;
  margin-bottom: 11px;
}

.xans-product-menupackage .menuCategory>li:first-child {
  border-left: 0;
}

.xans-product-menupackage .menuCategory>li>a {
  color: #000;
  padding: 14px;
}

.xans-product-menupackage .menuCategory>li>a:hover {
  color: #000;
  text-decoration: none;
  background-position: 100% -95px
}

.xans-product-menupackage .menuCategory>li.selected>a {
  color: #004ca3;
}

.xans-product-menupackage .menuCategory>li .count {
  font-weight: normal;
}

.xans-product-menupackage .menuCategory>li>ul {
  padding: 6px 0 0 0;
  display: none;
}

.xans-product-menupackage .menuCategory>li:hover>ul {
  display: block;
  position: absolute;
  background: #fff;
  padding: 14px 23px 20px 29px;
  z-index: 10;
  left: -37px;
  min-width: 150px;
  top: 27px;
  border: 1px solid #808080;
}

.xans-product-menupackage .menuCategory>li>ul>li {
  margin: 8px 0 0 0;
  line-height: 18px;
}

.xans-product-menupackage .menuCategory>li>ul>li>a {
  color: #000;
}

.xans-product-menupackage .menuCategory>li>ul>li>a:hover,
.xans-product-menupackage .menuCategory>li>ul>li.selected>a {
  color: #000;
}

.xans-product-menupackage .menuCategory>li>ul>li>.button {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 14px;
  margin: 1px 0 0 3px;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}

.border-10 {
  width: 35px;
  border-bottom: 1px solid #272727;
  margin: 0 auto;
  margin-top: 100px;
}

.xans-product-menupackage .subCategory {
  display: none;
  position: absolute;
  left: 0;
  top: 11px;
  z-index: 10;
  width: px;
  margin: 0px 0 0 -8px;
  padding: 15px 27px 15px 12px;
  border: 1px solid #808080;
  font-size: 0;
  line-height: 0;
  text-align: left;
  min-width: 150px;
  background: #fff;
}

.xans-product-menupackage .subCategory li {
  display: inline-block;
  min-width: 130px;
  margin: 5px 0 5px 18px;
  font-size: 12px;
  line-height: 14px;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.xans-product-menupackage .subCategory li a {
  color: #575a63;
}

.xans-product-menupackage .menuCategory>li>ul>li>a:hover,
.xans-product-menupackage .menuCategory>li>ul>li.selected>a {
  color: #5900ff;
}

.xans-product-menupackage .menuCategory .button.selected {
  z-index: 10;
}

.xans-product-menupackage .menuCategory .button.selected .subCategory {
  display: block;
}

.b-ani-01 {
  animation: b-ani-01 0.6s;
}

@keyframes b-ani-01 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.b-ani-02 {
  animation: b-ani-02 1.2s;
}

@keyframes b-ani-02 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.contents-wrap {
  width: 100%;
  max-width: 100%;
  margin-top: 210px;
}

.xans-product-menupackage .title {
  min-height: 30px;
  margin: 0 0 10px;
  clear: both;
  text-align: left;
}

.xans-product-menupackage .title h2 {
  font-size: 30px;
  color: #424242;
  margin-left: 24px;
  font-family: Ubuntu;
  font-weight: 500;
  margin-bottom: 14px;
}

.xans-product-menupackage .menuCategory {
  margin-left: 5px;
  text-align: left;
  margin-left: 3%;
}

.xans-product-menupackage .menuCategory>li>a {
  font-size: 13px;
  color: #424242;
}

.xans-product-menupackage {
  padding-top: 0;
  margin-bottom: -10px;
  margin-left: -20px;
}

.xans-product-listnormal.prdImg img {
  max-width: 100%;
}

.xans-product-listnormal.prdImg .b-01 {
  width: 100px;
}

img {
  border: 0;
  vertical-align: top
}

.grid-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
}

.grid {
  margin: 0 auto;
  width: 100% !important;
  padding-left: 1% !important;
}

.grid .grid-item {
  width: 47%;
  padding: 0;
  text-align: center;
}

.grid .grid-item:hover img {
  -webkit-transform: scale(1.1);
  transition: all 4.4s ease-out;
  transform: scale(1.1);
}

.grid .grid-item .thumbnail {
  overflow: hidden;
  position: relative;
}

.grid .list-img img {
  width: 100%;
  transition: all 4.4s ease-out;
}

.grid .grid-item .box {
  position: relative;
  margin: 0 auto;
  opacity: 0;
}

.grid-more {
  display: block;
  background: #ccc;
  padding: 20px;
  text-align: center;
  width: 136px;
  margin: 50px auto;
  text-align: center;
  margin: 50px auto;
  background: transparent;
  border: 1px solid #2d3557;
  border-radius: 50px;
  font-size: 13px;
  height: 52px;
  line-height: 10px;
  font-size: 15px;
  height: 52px;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  margin: 50px auto 0 auto !important;
}

.grid-more.off {
  display: none
}

.grid-wrap * {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.grid-wrap img {
  border: 0;
  vertical-align: top
}

.grid-wrap.g1 .grid .grid-item .box {
  top: 10px;
  left: 0px;
  background: #fbfbfb;
}

.grid-wrap.g2 .grid .grid-item .box {
  top: 0px;
  left: 0px
}

.xans-product-listnormal-wrap {
  width: 95%;
  margin: 0 auto;
}

.grid .grid-item .name {
  text-align: left;
  margin-top: 14px;
  padding-bottom: 13px;
  margin-bottom: 12px;
  width: 95%;
  position: relative;
  font-size: 15px !important;
  font-family: NotoKR-Medium;
  line-height: 120%;
}

.grid .grid-item .name::after {
  content: '';
  border-bottom: 3px solid #444;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 26px;
}

.grid .grid-item .thumbnail .box-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease-out;
  z-index: 1;
  cursor: pointer;
}

.grid .grid-item:hover .box-over {
  /*  opacity: 1;
  transition: all 0.4s ease-out;*/
}

.grid .grid-item .thumbnail .box-over p {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #9c9c9c;
  transform: translate(-50%, -50%);
  padding: 7px 16px;
}

.grid .grid-item .thumbnail .box-over p i {
  color: #fff;
  font-size: 10px;
}

.grid .grid-item .thumbnail .box-over p a {
  color: #fff;
  font-size: 13px;
  padding-left: 4px;
  vertical-align: text-bottom;
}

.grid .grid-item .name span {
  font-size: 19px !important;
  color: #000 !important;
}

.grid .grid-item .simple {
  text-align: left;
  padding-bottom: 15px;
  line-height: 110%;
  margin-bottom: 6%;
}

.grid .grid-item .simple a {
  font-size: 12px !important;
  color: #8c8c8c;
}

.grid .grid-item a:hover {
  opacity: 1;
}

.grid-wrap .information {
  padding: 0 5%;
}

.product_listrecommend-wrap {
  background: #ffeadf;
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 682px;
}

.ec-base-product-lookbook {
  position: absolute;
  top: 63%;
  left: 63%;
  transform: translate(-50%, -50%);
  width: 62%;
}

.ec-base-product-lookbook .prdList li .thumbnail img {
  width: 100%;
}

.lookbook-list-wrap {
  height: 900px;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  margin: 0 auto;
}

.ec-base-product-lookbook .prdList li .thumbnail a:hover {
  opacity: 1;
}

.product_listrecommend-wrap h3 {
  position: absolute;
  /* background: #fff; */
  left: -137px;
  top: 45px;
  height: 46px;
  line-height: 46px;
  /* width: 200px; */
  text-align: left;
  font-family: 'Montserrat', 'Noto Sans KR', AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 47px;
  letter-spacing: 0;
  padding: 5px 49px 0 49px;
  /* border: 1px solid #dcdcdc; */
  /* box-shadow: 5px 5px 0px -1px rgba(187, 187, 187, 0.33); */
}

.ec-base-product-lookbook .prdList li {
  position: relative;
}

.ec-base-product-lookbook .prdList li .dp-wrap {
  position: absolute;
  left: -100px;
  top: 57%;
}

.ec-base-product-lookbook .prdList li .dp-wrap .name span {
  font-size: 22px !important;
  color: #000 !important;
}

.ec-base-product-lookbook .prdList li .dp-wrap .name {
  margin-bottom: 17px;
  padding-bottom: 10px;
  background: url(/Unfold/resource/wave-p.png)repeat-x center bottom;
  background-size: 11px;
}

.ec-base-product-lookbook .prdList li .dp-wrap .simple a {
  color: #8c8c8c;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view {
  cursor: pointer;
  margin-top: 20px;
  background: #232323;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #232323;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view a {
  color: #fff;
  font-size: 12px;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view i {
  color: #fff;
  vertical-align: middle;
  padding-right: 4px;
  font-size: 11px;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view:hover {
  background: #fff;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view:hover i {
  color: #000;
}

.ec-base-product-lookbook .prdList li .dp-wrap .view:hover a {
  color: #000;
}

.lookBookMainSmallImg {
  position: relative;
  top: 83px;
  left: 155px;
}

.lookBookMainSmallImg ul {}

.lookBookMainSmallImg ul li {
  display: block;
  width: 120px;
  margin: 10px;
}

.lookBookMainSmallImg ul li img {
  width: 100%;
}
